ShellyLib-ERB-Rev:ERB-0.30
[
    {
        "id": "ad0d8b18.14a2e8",
        "type": "tab",
        "label": "ShellyLib-ERB-Rev:ERB-0.30",
        "disabled": true,
        "info": ""
    },
    {
        "id": "59d1718d.601a3",
        "type": "udp in",
        "z": "ad0d8b18.14a2e8",
        "name": "Shelly CoAP",
        "iface": "",
        "port": "5683",
        "ipv": "udp4",
        "multicast": "true",
        "group": "224.0.1.187",
        "datatype": "buffer",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "66d38cbb.c1fc24"
            ]
        ]
    },
    {
        "id": "66d38cbb.c1fc24",
        "type": "function",
        "z": "ad0d8b18.14a2e8",
        "name": "ShellyLib-ERB-Rev:ERB-0.30 A",
        "func": "// Shelly Switch CoAP Filter\n// By: Eldon R. Brown - WA0UWH\n// Assisted By: Jeff Whitlatch - KO7M\n// Date: Jan 15, 2019\n// Updated: Jan 19, 2019\n\n// This Node Function Supports:\n//  Shelly-1\n//  Shelly-2\n//  Shelly-H&T\n//  Other Shellys in Raw Mode\n\n// Output 1 = Stand Message Output\n// Output 2 = Abort Message Output\n\n// ###############################################################\n// Setup \n\nvar libRev = {};\nvar libTic = {};\nvar ip = {};\nvar buf = {};\nvar tmp;\n\n\n// ###############################################################\n// Derive Lib Name and Revision from Node Lable\n[ msg.lib, msg.libRev ] = node.name.split(/[^A-Za-z]Rev:/,2);\n\n\n// ###############################################################\n// Send to Lib Status\nif (!context.get('do_rev_once')) {\n    context.set('do_rev_once', true);\n    libRev.topic = msg.lib + \"/Rev\";\n    libRev.payload = msg.libRev;\n    libRev.retain = true;\n    node.status({fill:\"green\",shape:\"dot\", text:\"Encoded: /Rev\"});\n    node.send( libRev );\n}\n\n// ###############################################################\n// Pass Lib Time Tic\nlibTic.payload = msg.payload;\nif (msg.topic == 'Tic') {\n    if(!context.get('do_reboot_tic_once')) {\n        context.set('do_reboot_tic_once', true);\n        libTic.topic = \"ShellyLib/Reboot/\" + msg.topic;\n        msg.retain = true;\n        node.send( libTic );\n    }\n    libTic.topic = \"ShellyLib/\" + msg.topic;\n    msg.retain = false;\n    node.status({fill:\"green\",shape:\"dot\", text:\"Encoded: Tic\"});\n    return libTic;\n}\n\n\n// ###############################################################\n// ###############################################################\n// Mqtt Mesage Decoder\nmsg.topic = \"\" + msg.topic;\nvar prefix = flow.get('mqttPrefix') + \"/\";\nvar re = new RegExp(\"^\" + prefix);\n\nif ( msg.topic.match(re) ) {\n    buf.Debug = \"Decode Mqtt\"; // For Debug\n    \n    buf.topic = msg.topic.slice(prefix.length); // Remove mqttPrefix\n    \n    var re_on_off = new RegExp(\"[oO][nN]$|^[oO][fF][fF]$\");\n    if (buf.topic.match(/.+\\/[sS]et$/) &&\n        msg.payload.match( re_on_off ) ) {\n        buf.DebugSub = \"Decode Mqtt /Set\"; // For Debug\n\n        // buf.topicRaw = buf.topic; // For Debug\n        buf.topic = buf.topic.replace(/\\/[sS]et$/, \"\"); // Remove trailling /Set\n        buf.topic = buf.topic.replace(\"/relay\",\"\");\n        \n        var spl = buf.topic.lastIndexOf(\"/\");\n        buf.url = buf.topic.slice(0, spl );\n        buf.dev = buf.topic.slice( spl +1 );\n        \n        buf.key = buf.topic;\n        buf.url = context.get(buf.key) || buf.url;\n        \n        // Build REST URL\n        buf.payload = msg.payload.toLowerCase();\n        buf.url = buf.url + \"/relay/\" + buf.dev + \"?turn=\" + buf.payload;\n        node.status({fill:\"blue\",shape:\"dot\", text:\"Decoded: MQTT /set \" + buf.payload});\n        return [ null, buf ];\n    }\n    \n    else if ( buf.topic.match(/.+\\/[tT][iI][cC]$/) ) {\n        buf.DebugSub = \"Decode Mqtt /Tic\"; // For Debug\n        node.status({fill:\"blue\",shape:\"dot\", text:\"Decoded: MQTT /Tic\"});\n        return null;\n    }\n \n    else if ( buf.topic.match(/.+\\/[iI][pP]$/) ) {\n        buf.DebugSub = \"Decode Mqtt save /ip\"; // For Debug\n        \n        buf.key = buf.topic.slice(0, buf.topic.lastIndexOf(\"/\"));\n        context.set( buf.key, msg.payload );\n        node.status({fill:\"blue\",shape:\"dot\", text:\"Decoded: MQTT /ip\"});\n        return null;\n    }\n \n    node.status({fill:\"yellow\",shape:\"dot\", text:\"Decoded: MQTT, Input Not Used\"});\n    return [ null, null];\n}\n \n\n\n\n// ###############################################################\n// Establish Defaults \nmsg.payload = \"\" + msg.payload.slice(14);\n[msg.type, msg.deviceId] = msg.payload.split(/#/,2);\nmsg.mqttTopic = msg.type + \"/\" + msg.deviceId;\nmsg.nickName = msg.mqttTopic;\n\nmsg.payload = \"\" + msg.payload.match(/{\"G\":.*}/);\n// node.send([ null, msg ]); // For Debug\nif (typeof msg.payload == 'undefined') {\n    msg.abort = \"Payload Undefined\";\n    // Send to Abort Port - Must be wrong format\n    msg.retain = false;\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"WARNING: Payload Undefined\"});\n    return [ null, null, msg ];\n}\n\nmsg.statRaw = msg.payload;\n\n\n// ###############################################################\n// ###############################################################\n// Main Decoder\n\n// ############################################################### \n// Decode Shelly-1 Devices\nif ( msg.type.match(/^SHSW-1/) ) {\n    msg.Decoder = \"SHSW-1\"; // For Debug\n    msg.nickName = msg.mqttTopic + \"/0\";\n    msg.retain = false;\n    \n    try { msg.tmp = tmp = JSON.parse(msg.statRaw); }\n    catch(err) {\n        mesg.abort = \"Json.parse Error\";\n        node.status({fill:\"yellow\",shape:\"dot\",text:\"WARNING: JSON Parse Error\"});\n        return [ null, null, msg ];\n    }\n    \n    msg.topic = msg.nickName = flow.get(\"nickNames\")[msg.mqttTopic + \"/0\"] || msg.mqttTopic + \"/0\";\n    \n    \n    msg.payload = tmp.G[0][2] ? \"on\" : \"off\";\n    ip.retain = flow.get(\"mqttRetain\");\n    node.send( msg );\n\n    ip.topic = msg.mqttTopic + \"/0/ip\";\n    ip.payload = msg.ip;\n    ip.retain = true;\n    node.send( ip );\n    \n    ip.topic = msg.nickName + \"/ip\";\n    ip.payload = msg.ip;\n    ip.retain = true;\n    node.status({fill:\"green\",shape:\"dot\", text:\"Decoded: CoAP SHSW-1 _ \" + msg.ip});\n    return ip;\n} \n\n// ###############################################################\n// Decode Shelly-2 Devices\nelse if ( msg.type.match(/^SHSW-2/) ) {\n    msg.Decoder = \"SHSW-2\"; // For Debug\n    msg.nickName = msg.mqttTopic;\n    msg.retain = false;\n        \n    try { tmp = JSON.parse(msg.statRaw); }\n    catch(err) {\n        msg.abort = \"JSON.parse Error\";\n        msg.retain = false;\n        node.status({fill:\"yellow\",shape:\"dot\",text:\"WARNING: JSON Parse Error\"});\n        return [ null, null, msg ];\n    }\n    \n    msg.power = tmp.G[2][2].toFixed(2);\n    \n    // Do Special Things for Shelly-2 relay 0\n    msg.topic = msg.nickName = flow.get(\"nickNames\")[msg.mqttTopic + \"/0\"] || msg.mqttTopic + \"/0\";\n    \n    \n    msg.payload = tmp.G[0][2] ? \"on\" : \"off\";\n    ip.retain = flow.get(\"mqttRetain\");\n    node.send( msg );\n        \n    ip.topic = msg.mqttTopic + \"/0/ip\";\n    ip.payload = msg.ip;\n    ip.retain = true;\n    node.send( ip );\n    \n    ip.topic = msg.mqttTopic + \"/1/ip\";\n    ip.payload = msg.ip;\n    ip.retain = true;\n    node.send( ip );\n    \n    ip.topic = flow.get(msg.nickName + \"/ip\");\n    ip.payload = msg.ip;\n    ip.retain = true;\n    node.send( ip );\n    \n     // Do Special Things for Shelly-2 relay 1\n    msg.topic = msg.nickName = flow.get(\"nickNames\")[msg.mqttTopic + \"/1\"] || msg.mqttTopic + \"/1\";\n    \n    msg.payload = tmp.G[1][2] ? \"on\" : \"off\";\n    ip.retain = flow.get(\"mqttRetain\");\n    node.send( msg );\n\n    ip.topic = flow.get(msg.nickName + \"/ip\");\n    ip.payload = msg.ip;\n    ip.retain = true;\n    node.send( ip );\n    \n    // Do Special Things for Shelly-2 (both 0/1)\n    msg.topic = msg.mqttTopic + \"/P\";\n    msg.payload = msg.power;\n    ip.retain = flow.get(\"mqttRetain\");\n    node.status({fill:\"green\",shape:\"dot\", text:\"Decoded: CoAP SHSW-2 _ \" + msg.ip});\n    return msg;\n} \n\n// ###############################################################\n// Decode Shelly-H&T Devices\nelse if ( msg.type.match(/^SHHT/) ) {\n    msg.Decoder = \"SHHT\";\n\n    msg.nickName = msg.mqttTopic;\n    msg.retain = false;\n        \n    msg.nickName = flow.get(\"nickNames\")[msg.mqttTopic] || msg.nickName;\n       \n    msg.topic = msg.nickName + \"/ip\";\n    msg.payload = msg.ip;\n    msg.retain = true;\n    node.send([ msg, null, msg ]);\n    \n    msg.retain = false;\n    try { tmp = JSON.parse(msg.statRaw); }\n    catch(err) {\n        msg.abort = \"JSON.parse Error\";\n        msg.retain = false;\n        node.status({fill:\"yellow\",shape:\"dot\",text:\"WARNING: JSON Parse Error\"});\n        return [ null, null, msg ];\n    }\n    \n    msg.tempC =   tmp.G[0][2].toFixed(1);\n    msg.tempF = ((tmp.G[0][2] * 9)/5 + 32).toFixed(1);\n    msg.humd =   (tmp.G[1][2]/2).toFixed(1);\n    msg.batt =    tmp.G[2][2].toFixed(1);\n    \n    msg.topic = msg.nickName + \"/C\";\n    msg.payload = msg.tempC;\n    ip.retain = flow.get(\"mqttRetain\");\n    node.send( msg );\n    \n    msg.topic = msg.nickName + \"/F\";\n    msg.payload = msg.tempF;\n    ip.retain = flow.get(\"mqttRetain\");\n    node.send( msg );\n    \n    msg.topic = msg.nickName + \"/H\";\n    msg.payload = msg.humd;\n    ip.retain = flow.get(\"mqttRetain\");\n    node.send( msg );\n    \n    msg.topic = msg.nickName + \"/B\";\n    msg.payload = msg.batt;\n    ip.retain = flow.get(\"mqttRetain\");\n    node.send( msg );\n        \n    ip.topic = msg.mqttTopic + \"/ip\";\n    ip.payload = msg.ip;\n    ip.retain = true;\n    node.send( ip );\n    \n    ip.topic = msg.nickName + \"/ip\";\n    ip.payload = msg.ip;\n    ip.retain = true;\n    node.status({fill:\"green\",shape:\"dot\", text:\"Decoded: CoAP SHHT _ \" + msg.ip});\n    return ip;\n} \n\n// ###############################################################\n// Decode Unknown Shelly Devices, in RAW Mode\nelse if ( msg.type.match(/^SH/) ) {\n    msg.Decoder = \"SH\";\n    msg.topic = msg.mqttTopic || 'unknown';\n    \n    ip.retain = flow.get(\"mqttRetain\");\n    node.send( msg );\n        \n    ip.topic = msg.topic + \"/ip\";\n    ip.payload = msg.ip;\n    ip.retain = true;\n    node.status({fill:\"yellow\",shape:\"dot\", text:\"Decoded: CoAP SH?? ___ \" + msg.ip});\n    return ip;\n}\n\n// ###############################################################\n// Send Other Unknown CoAP Input to LOG port for Debug\nmsg.Decoder = \"ABORT\";\nmsg.Abort = \"Fail to Decode\";\nmsg.retain = false;\nnode.status({fill:\"red\",shape:\"dot\",text:\"Decode Aborted: - Bad Input\"});\nreturn [ null, null, msg ];\n\n// End",
        "outputs": 3,
        "noerr": 0,
        "x": 430,
        "y": 420,
        "wires": [
            [
                "74427ab2.b085e4",
                "dddc6ce.621cf9"
            ],
            [
                "5d7bc34.060643c",
                "2e9feb67.b04dc4"
            ],
            [
                "a06a20a7.ee1bf"
            ]
        ],
        "outputLabels": [
            "Mqtt Pub Output",
            "REST Cmd Output",
            "Abort Output"
        ]
    },
    {
        "id": "1acace1d.ad20b2",
        "type": "mqtt out",
        "z": "ad0d8b18.14a2e8",
        "name": "MQTT Pub",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "eb1379d7.7783a8",
        "x": 1090,
        "y": 400,
        "wires": []
    },
    {
        "id": "74427ab2.b085e4",
        "type": "rbe",
        "z": "ad0d8b18.14a2e8",
        "name": "Ignore Repeats",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 720,
        "y": 400,
        "wires": [
            [
                "efdb481b.3b67b8"
            ]
        ]
    },
    {
        "id": "1e0ee8b1.bb99b7",
        "type": "comment",
        "z": "ad0d8b18.14a2e8",
        "name": "Shelly CoAP Decoder, Notes ---- Please Read",
        "info": "Author: Eldon R. Brown - WA0UWH\nDate: Jan 15, 2019\nUpdated: Jan 18, 2019\n\nUse at your own risk.\n \nThis is Demo/Example of a Node-Red Shelly-to-Mqtt Flow using \nfactory Standard Firmware. Shelly Cloud must be turned ON.\n\nIt works very well for me, it does what I want.\n\nThis is \"beta\" release, updates may be coming.\n\nGoals and Implementation:\n\n     1. Maintain use of Factory Firmware\n     2. Continue Using the Shelly Cloud\n     3. Support; Shelly-1, Shelly-2, and Shelly_HT\n            (these are the only Shelly device types that I have access)\n     4. Provide Shelly Device Status Reports to MQTT Broker\n     5. Allow MQTT Topic Customization\n     6. Allow for Custom MQTT Topic per Device via NickNames\n     7. Allow single point of NickName Admin for Node-Red\n            and MQTT Broker.\n     8. Implement MQTT Last-WILL and Connection Status\n     9. Retain all MQTT data\n    10. Subscribe to MQTT Broker with \"mqttPrefix\" and then Decode and\n            end \"on/off\" REST command to Shelly Switches.\n    11. Allow use of: Shelly Device Names, NickNames, or IP Address\n            for Shelly Switch Control\n    12. Allow use or NOT of \"/relay\" within NickNames, and \n            MWTT Published commands.\n    13. Provide User Option to Set MqttRetain flag\n\nThere maybe better methods to implement this flow,\n    Contributors Welcome.\n    \nNote:\n\n    All examples and configurations; show my \"mqttPrefix\"\n    which must be configured before use\n    \nNote:\n\n    This CoAP Shelly Decoder uses a \"Brute Force\" method\n        of decoding, because; it is easy, simple,\n        costomizable, and the Shelly CoAP packets are of\n        known content.\n\nNote:\n\n    The example nickNames the \"User Perference\" node are\n        some that I use, they must be changed to be useful.\n\nTo Use:\n\n    Requirements: NodeRed Install \"node-red-contrib-moment\" via Manage Palett\n    Note: This NodeRed Flow Tab must be \"Enabled\", it is provided \"Disabled\"\n    Customize the \"MQTT Pub\" Node\n        Set Mqtt Publish Broker Address and Port\n        Set up Birth, Close, and Will Topics in Messages Tab\n        Set Mqtt Broker Authentication as necessary\n    Customize the \"MQTT Sub SET\" Node\n        Set Mqtt Subscribe Node wiht Broker, Port, and Topic\n        Set Mqtt Broker Authentication as necessary\n    Customize \"User Preferance\" Node:\n        Set up use.nickName to \"true\" or \"false\"\n        Set up mqttRetain to \"true\" or \"false\"\n        Set up NickNames\n        Set up Mqtt topic Prefix\n    Customize \"ShellyTic\" Node\n        Set the desired Time Tic Interval\n    Customize \"Date/Format\" Node\n        Set Time Zone and Local Date Format\n    The Debug and LOG outputs Nodes can be removed, \n        or just left turned off, as desired.\n    \n    \nNote:\n\n    Shellys are very \"chatty\" on CoAP on the network\n        as can be seen via the LOG output.\n\nNote:\n\n    The ShellyLIb collects IPA from MQTT traffic of Shelly Device for later\n        use as Aliases and REST Commands.\n        \nExample MQTT Pub Commands (each group does the samething):\n\n    On/Off is NOT case sensitive, topic is case sensitive\n    -\n    mosquitto_pub -t ebconpri/shelly/SHSW-1/32C849/relay/0/Set -m off\n    mosquitto_pub -t ebconpri/shelly/SHSW-1/32C849/0/Set -m ofF\n    mosquitto_pub -t ebconpri/shelly/Hab/Fan/0/set -m off\n    mosquitto_pub -t ebconpri/shelly/192.168.0.220/0/set -m off\n    mosquitto_pub -t ebconpri/shelly/192.168.0.220/0/set -m off\n    -\n    mosquitto_pub -t ebconpri/shelly/Hab/Sink/0/set -m on\n    mosquitto_pub -t ebconpri/shelly/Hab/Sink/relay/0/set -m On\n    \n    \nExample Mqtt Broker Output:\n\n    ebconpri/shelly/ShellyLib/Rev ERB-0.24.D\n    ebconpri/shelly/ShellyLib/Tic 1547852624 2019/01/18 15:03:44 -0800\n    ebconpri/shelly/Lab/WB-3D/0 on\n    ebconpri/shelly/SHSW-1/12C4EB/0/ip 192.168.0.225\n    ebconpri/shelly/Lab/WB-3D/0/ip 192.168.0.225\n    ebconpri/shelly/Hab/Bed-Light/0 off\n    ebconpri/shelly/Lab/Displays/0 on\n    ebconpri/shelly/Lab/Work-Light/0 on\n    ebconpri/shelly/Lab/Bench-Power/0 on\n    ebconpri/shelly/ShellyLib/Tic 1547852834 2019/01/18 15:07:14 -0800\n    ebconpri/shelly/Temp/Shop/C 9.0\n    ebconpri/shelly/Temp/Shop/F 48.2\n    ebconpri/shelly/Temp/Shop/H 70.0\n    ebconpri/shelly/ShellyLib/Tic 1547852854 2019/01/18 15:07:34 -0800\n    ebconpri/shelly/Temp/Lab/C 23.6\n    ebconpri/shelly/Temp/Lab/F 74.5\n    -\n    ebconpri/shelly/Hab/Sink/0/set on\n    ebconpri/shelly/192.168.0.220/0/set OFF\n\n\nTBD:\n\n    Add a NodeRed Dashboard for Shelly Devices\n    Represent Shelly-2 Power Better.\n    List Discoverd Devices as New.\n    Remove 404 Chat back from Node-Red UDP/CoAP.\n    Maybe add JSON output.\n\n\nHistory:\n\n    Rev\" ERB-0.next\n        Clean Up\n        Now Requires Moment Node to be Installed\n        Added Human Readable Time Tic\n        Suggests Customized Tic: Date, Time Format and Interval\n        Set all Mqtt Data to Retain\n        Added MQTT Subscribe to \"mqttPrefix\" to send \n            REST \"on/off\" command to Shelly\n    Rev: ERB-0.20 - Initial Release\n    \nEnd",
        "x": 210,
        "y": 140,
        "wires": []
    },
    {
        "id": "6c730175.43b6d",
        "type": "inject",
        "z": "ad0d8b18.14a2e8",
        "name": "ShellyTic",
        "topic": "Tic",
        "payload": "",
        "payloadType": "date",
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "dc97792b.c56a68"
            ]
        ]
    },
    {
        "id": "a06a20a7.ee1bf",
        "type": "debug",
        "z": "ad0d8b18.14a2e8",
        "name": "Abort LOG",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 470,
        "y": 500,
        "wires": []
    },
    {
        "id": "efdb481b.3b67b8",
        "type": "function",
        "z": "ad0d8b18.14a2e8",
        "name": "Add Mqtt Prefix",
        "func": "var key = 'mqttPrefix';\nvar prefix = flow.get(key);\nif (prefix) {\n    msg.topic = prefix + \"/\" + msg.topic;\n    node.status({fill:\"green\",shape:\"dot\",text:\"Prefix: \" + prefix});\n    return msg;\n} else {\n    msg.ERROR = \"'\" + key + \"' not set\";\n    node.status({fill:\"red\",shape:\"dot\", text:\"ERROR: No mqttPrefix\"});\n    return [null, msg];\n}",
        "outputs": 2,
        "noerr": 0,
        "x": 900,
        "y": 400,
        "wires": [
            [
                "1acace1d.ad20b2"
            ],
            []
        ],
        "outputLabels": [
            "Normal",
            "Errors"
        ]
    },
    {
        "id": "dc97792b.c56a68",
        "type": "moment",
        "z": "ad0d8b18.14a2e8",
        "name": "Date/Formal",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "PST8PDT",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "X YYYY/MM/DD HH:mm:ss ZZ",
        "locale": "en_US",
        "output": "payload",
        "outputType": "msg",
        "outTz": "PST8PDT",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "66d38cbb.c1fc24"
            ]
        ]
    },
    {
        "id": "5d7bc34.060643c",
        "type": "debug",
        "z": "ad0d8b18.14a2e8",
        "name": "REST DEBUG",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 720,
        "y": 500,
        "wires": []
    },
    {
        "id": "4538ebac.5153a4",
        "type": "mqtt in",
        "z": "ad0d8b18.14a2e8",
        "name": "MQTT Sub",
        "topic": "ebconpri/shelly/#",
        "qos": "0",
        "broker": "67833c02.517fe4",
        "x": 160,
        "y": 460,
        "wires": [
            [
                "66d38cbb.c1fc24"
            ]
        ]
    },
    {
        "id": "2e9feb67.b04dc4",
        "type": "http request",
        "z": "ad0d8b18.14a2e8",
        "name": "Shelly REST",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 710,
        "y": 460,
        "wires": [
            [
                "f45ad9a6.78aaf8"
            ]
        ]
    },
    {
        "id": "1cc5de15.c19842",
        "type": "function",
        "z": "ad0d8b18.14a2e8",
        "name": "User Preference",
        "func": "// User Preference\n// Author: Eldon R. Brown - WA0UWH\n// Date: Jan 15, 2019\n// UpDated: Jan 19, 2019\n\n\n// NickNames for Shelly Devices, Used by MQTT,\n// For Best Results; CamalCase, SlugTrails, or SnakeCase\n// should be used for NickNames\n//   CamelCase  = LooksSomethingLikeThis\n//   SlugTrails = Looks-something-like-this\n//   SnakeCase  = Looks_Something_Like_This\n\nmsg.topic += \"\";\n\n\n// ###############################################################\n// ###############################################################\n// ###############################################################\n// Start User Options\n\n// User Options: Set to \"true\" or \"false\"\nflow.set('useNickNames', true);\nflow.set('mqttRetain', true);\n\n// Set Mqtt Topic Prefix\nflow.set(\"mqttPrefix\", \"ebconpri/shelly\");\n\nif (flow.get('useNickNames') ) {\n    // Costomize NickNames\n    flow.set (\"nickNames\", {\n        // Lab Work Area\n        \"SHSW-1/0594EB/0\"   : \"Lab/Work-Light/0\",\n        \"SHSW-1/4A59DB/0\"   : \"Lab/Displays/0\",\n        \"SHSW-1/056B75/0\"   : \"Lab/SolderStation/0\",\n        \"SHSW-1/059851/0\"   : \"Lab/Bench-Power/0\",\n        \"SHSW-1/0586A0/0\"   : \"Hab/Cam-Power-01/0\",\n        \"SHSW-1/058C45/0\"   : \"Lab/Shield-01/0\",\n        \"SHSW-1/058616/0\"   : \"Lab/Shield-03/0\",\n        \"SHSW-1/12C4EB/0\"   : \"Lab/WB-3D/0\",\n       \n        // Kitchen Area\n        \"SHSW-21/32BDF9/0\"   : \"Hab/Sink/0\",\n        \"SHSW-21/32BDF9/1\"   : \"Hab/Kitchen/1\",\n        \"SHSW-1/327FD2/0\"    : \"Hab/Microwave/0\",\n        \"SHSW-1/32C849/0\"    : \"Hab/Fan/relay/0\",\n       \n        // Sleeping Area\n        \"SHSW-1/4A581E/0\"    : \"Hab/Bed-Light/0\",\n       \n        // Bath Room\n        \"SHSW-1/32D063/0\"    : \"Hab/Bath-Fan/0\",\n        \n        // Env Heat Control\n        \"SHSW-1/12B7FD/0\"    : \"Env/Heat-Ctl/0\",\n        \n        // Env H&T\n        \"SHHT-1/22C4AB\"      : \"Temp/Computer\",\n        \"SHHT-1/5A8AC9\"      : \"Temp/Lab\",\n        \"SHHT-1/22C54F\"      : \"Temp/Bee\",\n        \"SHHT-1/22C3A3\"      : \"Temp/Shop\",\n        \"SHHT-1/22C3CA\"      : \"Temp/ManCave\",\n        \"SHHT-1/22C612\"      : \"Temp/Outside\",\n        \"SHHT-1/5A8C06\"      : \"Temp/Van\",\n        \n        }  \n    )\n}\n\n// End of User Options\n\n\n// ###############################################################\n// ###############################################################\n// ###############################################################\nmsg.nickNames = flow.get(\"nickNames\");\n\nif (flow.get('useNickNames'))\n    node.status({fill:\"green\",shape:\"dot\",text:\"NickNames Configured\"});\nelse \n    node.status({fill:\"yellow\",shape:\"dot\",text:\"NickNames Not Used\"});\n    \nreturn msg;\n\n// End",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 240,
        "wires": [
            [
                "642dbfcc.fecd8"
            ]
        ],
        "outputLabels": [
            "CoAP to Decoder Output"
        ]
    },
    {
        "id": "12bb08fc.f544d7",
        "type": "inject",
        "z": "ad0d8b18.14a2e8",
        "name": "Initialize",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 120,
        "y": 240,
        "wires": [
            [
                "1cc5de15.c19842"
            ]
        ]
    },
    {
        "id": "642dbfcc.fecd8",
        "type": "debug",
        "z": "ad0d8b18.14a2e8",
        "name": "Init LOG",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 480,
        "y": 240,
        "wires": []
    },
    {
        "id": "f45ad9a6.78aaf8",
        "type": "debug",
        "z": "ad0d8b18.14a2e8",
        "name": "Shelly REST LOG",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 910,
        "y": 460,
        "wires": []
    },
    {
        "id": "dddc6ce.621cf9",
        "type": "debug",
        "z": "ad0d8b18.14a2e8",
        "name": "LOG",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 690,
        "y": 360,
        "wires": []
    },
    {
        "id": "eb1379d7.7783a8",
        "type": "mqtt-broker",
        "z": "",
        "name": "Mqtt Pub",
        "broker": "localhost",
        "port": "1883",
        "clientid": "ShellyPub",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "ebconpri/shelly/Pub/Status",
        "birthQos": "0",
        "birthRetain": "true",
        "birthPayload": "1",
        "closeTopic": "ebconpri/shelly/Pub/Status",
        "closeQos": "0",
        "closeRetain": "true",
        "closePayload": "0",
        "willTopic": "ebconpri/shelly/Pub/Status",
        "willQos": "0",
        "willRetain": "true",
        "willPayload": "0"
    },
    {
        "id": "67833c02.517fe4",
        "type": "mqtt-broker",
        "z": "",
        "name": "Mqtt Sub ",
        "broker": "localhost",
        "port": "1883",
        "clientid": "ShellySub",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "ebconpri/shelly/Set/Status",
        "birthQos": "0",
        "birthRetain": "true",
        "birthPayload": "1",
        "closeTopic": "ebconpri/shelly/Set/Status",
        "closeQos": "0",
        "closeRetain": "true",
        "closePayload": "0",
        "willTopic": "ebconpri/shelly/Set/Status",
        "willQos": "0",
        "willRetain": "true",
        "willPayload": "0"
    }
]
